<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/star.css">
</head>
<body >
    <%- include('../components/navbar') %>
  
  
  <section>
    <%- include('../components/flash') %>
    <%- body %>
  </section>
  <%- include('../components/footer') %>
  <script src="https://kit.fontawesome.com/fdc47ca2be.js" crossorigin="anonymous"></script>
 
</body>

</html>
